[submodule "yasnippet-snippets"]
	path = repo/yasnippet-snippets
	url = git@github.com:zy9306/yasnippet-snippets.git
[submodule "nox"]
	path = repo/nox
	url = git@github.com:zy9306/nox.git
[submodule "repo/projectile"]
	path = repo/projectile
	url = git@github.com:bbatsov/projectile.git
[submodule "repo/counsel-projectile"]
	path = repo/counsel-projectile
	url = git@github.com:ericdanan/counsel-projectile.git
[submodule "repo/treemacs"]
	path = repo/treemacs
	url = git@github.com:Alexander-Miller/treemacs.git
[submodule "repo/lsp-mode"]
	path = repo/lsp-mode
	url = git@github.com:emacs-lsp/lsp-mode.git
[submodule "repo/lsp-python-ms"]
	path = repo/lsp-python-ms
	url = git@github.com:emacs-lsp/lsp-python-ms.git
[submodule "repo/swiper"]
	path = repo/swiper
	url = git@github.com:abo-abo/swiper.git
[submodule "repo/company-mode"]
	path = repo/company-mode
	url = git@github.com:company-mode/company-mode.git
