[submodule "yasnippet-snippets"]
	path = repo/yasnippet-snippets
	url = git@github.com:zy9306/yasnippet-snippets.git
[submodule "theme/doom-themes"]
	path = theme/doom-themes
	url = git@github.com:zy9306/emacs-doom-themes.git
[submodule "theme/all-the-icons.el"]
	path = theme/all-the-icons.el
	url = git@github.com:zy9306/all-the-icons.el.git
[submodule "theme/spaceline"]
	path = theme/spaceline
	url = git@github.com:zy9306/spaceline.git
